.rain {
    background-color: $background-color;
    background-image: url("../img/rainy-valentin-muller-bWtd1ZyEy6w-unsplash.jpg");
}
.snow {
    background-color: $background-color;
    background-image: url("../img/snowy-tim-foster-xO6gMCqzYYc-unsplash.jpg");
}
.night {
    background-color: $night-color;
    background-image: url("../img/night-madhuvan-yadav-GRIRnUHkzJY-unsplash.jpg");
}
.fog {
    background-color: $fog-color;
    background-image: url("../img/foggy-patrick-hendry-nyKJlVwKTAU-unsplash.jpg");
}
.clouds {
    background-color: $background-color;
    background-image: url("../img/light-sonny-mauricio-kIr8e-01eAw-unsplash.jpg");
}
//make a sunny weather one.